/*Página Home*/

/*Conteúdo principal*/



body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background: black;
}

.img-fundo {
	width: 40%;
	margin: 0 auto 4em auto;
	display: block;
	opacity: 0.7;
}

.img-banda {
	width: 60%;
	opacity: 0.7;
	box-shadow: 15px 15px 20px rgb(161, 117, 87);
	display: block;
	margin: 3em auto;
}

.conteudo-principal p {
	color: rgb(214, 180, 135);
	line-height: 1.3;
	vertical-align: top;
	margin: 1em 4em;
	font-size: 18px;
	text-align: justify;

}

.integrantes {
	margin: 4em;
	background: rgba(171, 37, 44, 0.2);
	border-radius: 15px;
}

.integrantes .grid {
	display: grid;
	gap: 4em;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	text-align: center;
	object-fit: cover;
	object-position: bottom;
}

.integrantes h2 {
	text-align: center ;
	font-size: 3em;
	font-weight: bold;
	color: white;
	background-image: url("../imagens/bk-wood.jpg");
	border-radius: 15px 15px 0 0;
	padding: 50px;
	margin-bottom: 1em;
}

.integrantes h3 {
	color: white;
	font-size: 2em;
	font-weight: bold;
}

.integrantes p {
	color: white;
	margin: 0.3em auto;
	font-size: 1.5em;
}

.img-integrantes {
	width: 320px;
	height: 460px;
	object-fit: cover;
	object-position: bottom;
	margin: 1em auto;
	border-radius: 15px;
	transition: 0.5s;
}

.img-integrantes:hover {
	transform: scale(1.02);
	cursor: pointer;
}




/*Página Agenda*/

.agenda {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(79, 64, 57, 0.5);
	padding: 2em;
}

.agenda h2 {
	font-size: 2.5em;
	color: white;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 1em;
}


.agenda table {
	margin-left: auto;
	margin-right: auto;
}



.agenda td {
	color: rgb(214, 180, 135);
	padding: 0.6em 2em;
	text-align: center;
	font-size: 2em;
}

.agenda .data-agenda {
	background: rgb(214, 180, 135);
	color: rgb(79, 64, 57);
	font-weight: bold;
	border: 3px solid rgb(79, 64, 57);
}


@media (max-width: 790px) {
	.agenda h2 {
		font-size: 1.8em;
	}

	.agenda td {
	padding: 0.6em 0.2em;
	line-height: 1.1em;
	font-size: 1.2em;
	}
}



/*Página contrate*/

.contrate {
	margin-left: 2em;
}

.formulario {
	display: flex;
	justify-content: space-between;
}

.contrate h2 {
	display: block;
	font-size: 2.5em;
	color: white;
	font-weight: bold;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

.contrate label {
	color: rgb(214, 180, 135);
	font-size: 1.2em;
	display: block;
	margin-bottom: 0.5em;
}

.required:after {
	content: " *";
	color: rgb(171, 37, 44);
}

.input-padrao {
	background: whitesmoke;
	display: block;
	width: 80%;
	padding: 0.8em;
	margin-bottom: 2em;
	border-radius: 10px;
	border: none;
}

.enviar {
	width: 20%;
	padding: 1em;
	margin-top: 1em;
	background: rgb(171, 37, 44);
	color: rgb(214, 180, 135);
	font-size: 1.2em;
	border-radius: 10px 0 10px 0;
	transition: 0.4s;
}

.enviar:hover {
	cursor: pointer;
	background: rgb(150, 32, 44);
	transform: scale(1.05);
}

.img-show {
	width: 50%;
	height: 50%;
	border-radius: 10px;
	margin-top: 15em;
	margin-right: 1em;
}


@media (max-width: 940px) {
	.contrate, .formulario {
		display: block;
		margin: auto;
	}

	.contrate h2 {
		font-size: 2em;
		text-align: center;
		margin-bottom: 1em;
		margin-top: 1em;
	}

	.contrate label {
		width: 80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.5em;
	}

	.input-padrao {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.enviar {
		display: block;
		width: 60%;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
	}

	.img-show {
		width: 70%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 3em;
	}
}




/*Conteúdo cabeçalho*/

header {
	height: 100px;
	margin-bottom: 4em;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.logo-menu {
	width: 200px;
	position: absolute;
	top: 40px;
	left: 30px;
}

.menu nav {
	position: absolute;
	top: 45px;
	right: 30px;
}

.menu li {
	display: inline;
}

.menu a{
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	transition: 0.2s;
	padding: 10px;
}

.menu a:hover {
	color: rgb(214, 180, 135);
}







/*Conteúdo rodapé*/

footer {
	margin: 4em 2em 0 2em;
	padding: 3em;
	background-image: url("../imagens/img-rodape.png");
}

.redes-sociais {
	margin-top: 2em;
	margin-bottom: 2em;
}

.redes-sociais h2 {
	color: rgb(214, 180, 135);
	text-transform: uppercase;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

.redes-sociais a {
	font-size: 2em;
	color: rgb(214, 180, 135);
	padding: 10px;
	text-decoration: none;
	transition: 0.5s;
}

.redes-sociais a:hover {
	text-shadow: 0 0 3px lightyellow;
}

.icons {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.logo-rodape {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}















/*Se a tela tiver no máximo 940px*/

/*Página Home*/

@media (max-width: 940px) {
	.conteudo-principal, .conteudo-principal p {
		width: auto;
	}

	header {
		padding: 20px;
	}

	.menu {
		width: auto;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.img-fundo {
		margin: 3em auto;
	}

	.logo-menu {
		display: block;
		position: static;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4em;
	}

	.menu nav {
		display: block;
		position: absolute;
		width: 100%;
		font-size: 12px;
		margin-left: auto;
		margin-right: auto;
		top: 1em;
		left: 50%;
		transform: translate(-50%);
	}

	.menu ul {
		text-align: center;
		margin-bottom: 0.5em;
	}
	
	.img-banda {
		width: 70%;
	}

	.conteudo-principal p {
		margin: 1.5em ;
		text-align: justify;
	}

	.integrantes .grid {
		display: grid;
		gap: 2em;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
		text-align: center;
		object-fit: cover;
		object-position: bottom;
	}

	.integrantes {
		margin: 2em;
	}

	.integrantes h2 {
		font-size: 1.5em;
		padding: 10px;
		margin: 0 auto 1.5em auto;
	}

	.integrantes h3 {
		font-size: 1.2em;	
	}

	.integrantes p {
		font-size: 1em;
	}

	.img-integrantes {
		width: 200px;
		height: 260px;
	}
}



